@font-face {
    font-family: spooky;
    src: url(assets/HappyHalloween.ttf);
}


body {
    background-image: url(assets/halloween.jpg)
}
h1 {
    font-family: spooky;
    color: purple;
    font-size: 450%;
    margin-top:50px;
    text-align: center;
}
div {
    display: flex;
    justify-content: center;
}
h3 {
    font-family: spooky;
    color: orange;
    font-size: 250%;
    text-align: center;


}
div {
    justify-content: center;
}
